@{
    ViewBag.Title = "Home Page";
    if (Session["userId"]== null)
    {
        Response.Redirect("~/Login/Index");
    }
}

<div class="jumbotron">
    <h1>Drugstore</h1>
    <p class="lead">Proyecto diseñado para el final de la materia Gestion de Datos.</p>
    
</div>

<div>
    @Html.ActionLink("Empleados", "Index", "Empleadoes")<br />
    @Html.ActionLink("Familiar", "Index", "Familiars")<br />
    @Html.ActionLink("Usuarios", "Index", "Usuarios")<br />
    @Html.ActionLink("Ventas", "Index", "Ventas")<br />
    @Html.ActionLink("Compras", "Index", "Compras")<br />
    @Html.ActionLink("Concepto", "Index", "Conceptoes")<br />
    @Html.ActionLink("Detalle de liquidacion", "Index", "DetalleLiquidacions")<br />
    @Html.ActionLink("Direcciones", "Index", "Direccions")<br />
    @Html.ActionLink("Linea de compras", "Index", "LineaCompras")<br />
    @Html.ActionLink("Linea de ventas", "Index", "LineaVentas")<br />
    @Html.ActionLink("Liquidacion", "Index", "Liquidacions")<br />
    @Html.ActionLink("Localidades", "Index", "Localidads")<br />
    @Html.ActionLink("Pagos", "Index", "Pagoes")<br />
    @Html.ActionLink("Productos", "Index", "Productoes")<br />
    @Html.ActionLink("Proveedores", "Index", "Proveedors")<br />
    @Html.ActionLink("Provincias", "Index", "Provincias")<br />
    







</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p> </p>
    </div>
    
</div>