<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Drugstore", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    
                    <li>@Html.ActionLink("Productos", "Index", "Productoes")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ventas <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Ventas", "Index", "Ventas")</li>
                            <li>@Html.ActionLink("Linea de ventas", "Index", "LineaVentas")</li>

                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Pagos", "Index", "Pagoes")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Compras <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Compras", "Index", "Compras")</li>
                            <li>@Html.ActionLink("Linea de compras", "Index", "LineaCompras")</li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Empleados <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Empleados", "Index", "Empleadoes")</li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Familiar", "Index", "Familiars")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Liquidacion <span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("Liquidacion", "Index", "Liquidacions")</li>
                            
                            <li>@Html.ActionLink("Concepto", "Index", "Conceptoes")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Detalle de liquidacion", "Index", "DetalleLiquidacions")</li>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Proveedores", "Index", "Proveedors")</li>





                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li><button type="button" class="btn btn-default navbar-btn">@Session["userName"].ToString()</button></li>
                    <li><a href="@Url.Action("LogOut", "Login")">Cerrar Sesion</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
